---
import Page from "@/layouts/Page.astro";
import { getCollection } from "astro:content";
import { SideBySide } from "@/components/side-by-side";
import type { Render } from "astro:content";
import type { HobbyType } from "@/content/config";

type RenderedEntryComponent = Awaited<Render[".md"]>;
type Content = {
  Content: RenderedEntryComponent["Content"];
  frontmatter: HobbyType;
};

const allHobbies = await getCollection("hobbies");
const content: Content[] = [];
for (const hobby of allHobbies) {
  const { Content, remarkPluginFrontmatter: frontmatter } = await hobby.render();
  content.push({ Content, frontmatter: frontmatter as HobbyType });
}
---

<Page title="NicoToff | Hobbies">
  {
    content.map(({ Content, frontmatter }) => (
      <SideBySide className="mt-8 gap-4 first:mt-0">
        <div class={frontmatter.image ? "basis-3/4" : undefined}>
          <Content />
        </div>
        {frontmatter.image ? (
          <div class="hidden md:basis-1/4 md:p-4 md:block">
            <img src={frontmatter.image} alt="" loading="lazy" />
          </div>
        ) : null}
      </SideBySide>
    ))
  }
</Page>
