---
import "@/styles/globals.css";
import Page from "@/layouts/Page.astro";
---

<Page title="Welcome!">
  <h1 class="text-4xl font-bold">About</h1>
  <p class="text-lg">This is another page.</p>
</Page>
