---
type Props = {
  repoUrl: string;
};
const { repoUrl } = Astro.props;
---

<div class="m-0 mb-4 flex justify-end gap-x-1.5 font-mono text-sm">
  <div>
    <img class="m-0" src="/images/logos/git-logo-small.svg" />
  </div>
  <div>
    Repo: <a href={repoUrl}>{repoUrl.replace("https://", "")}</a>
  </div>
</div>
