---
import { Button } from "@/shadcn/ui/button";
import { dataAttributes } from "@/lib/constants";
import { SunIcon, MoonIcon } from "lucide-react";
---

<Button
  variant={"secondary"}
  className="mx-2"
  role="switch"
  aria-label="Switch to dark mode"
  aria-checked="false"
  {...dataAttributes.colorSwitchButton.props}
>
  <SunIcon {...dataAttributes.sunIcon.props} aria-hidden="true" />
  <MoonIcon className="hidden" {...dataAttributes.moonIcon.props} aria-hidden="true" />
</Button>

<script src="./toggle-mode-button.ts"></script>
