---
import Page from "@/layouts/Page.astro";
import { getParsedCollection } from "@/lib/helpers";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/shadcn/ui/card";
import { ChevronRight } from "lucide-react";

const collection = "projects";
const projects = await getParsedCollection(collection);
projects.reverse();
---

<Page title={`NicoToff | Projects`} description="All projects built by Nicolas Toffolo">
  <h1 class="text-4xl font-bold">All Projects</h1>
  <div class="grid md:grid-cols-2 gap-4 lg:grid-cols-3">
    {
      projects.map(({ frontmatter }) => (
        <Card className="flex flex-col justify-between not-prose">
          <CardHeader>
            <CardTitle>{frontmatter.title}</CardTitle>
            <CardDescription>{frontmatter.technologies.join(", ")}</CardDescription>
          </CardHeader>
          <CardContent>
            <p>{frontmatter.description}</p>
          </CardContent>
          <a href={`${collection}/${frontmatter.href}`}>
            <CardFooter className="flex justify-end">
              <ChevronRight size={30} aria-hidden />
            </CardFooter>
          </a>
        </Card>
      ))
    }
  </div>
</Page>
